# Fix Third Person Petting Camera Rotation to Imitate 1.21
public net.minecraft.client.Camera m_90568_(DDD)V # move
public net.minecraft.client.Camera m_90584_(DDD)V # setPosition
public net.minecraft.client.Camera m_90566_(D)D # getMaxZoom
public net.minecraft.client.Camera m_90572_(FF)V # setRotation
# Defer categorization bound for DTN Items to Imitate 1.20
public-f net.minecraft.world.item.Item f_41377_ # category

# For 1.19.2+ Animations imitate.
public-f net.minecraft.client.model.geom.ModelPart # For 1.19.2+ Animations imitate.
public net.minecraft.client.model.geom.ModelPart f_104212_ # For 1.19.2+ Animations imitate.
public net.minecraft.client.model.geom.ModelPart f_104213_ # For 1.19.2+ Animations imitate.
